/vendor
/node_modules
.env
.idea
*.swp
*.bak
Nptest*
Inspire.php
/composer.lock
/public/static/custom_tpl/webinar/855172729
/resources/views/custom_tpl/webinar/938668823
.phpstorm.meta.php
_ide_helper.php
storage/debugbar
.php_cs.cache
.DS_Store
/public/upload
/public/.htaccess
